<div>
  <div class="title"><h3>Department List</h3></div>
  <div>
    <button class="button" (click)="sortByDepartment()">
      Sort by Department
    </button>
    <button class="button" [routerLink]="['/']">Back</button>
  </div>
</div>
<div>
  <hr />
  <div class="row">
    <div class="column bold">Department Name</div>
    <div class="column bold">Head of Department</div>
    <div class="column bold">Contact Number</div>
  </div>
  <div class="row" *ngFor="let department of departments">
    <div class="column">{{ department.departmentname }}</div>
    <div class="column">{{ department.head }}</div>
    <div class="column">{{ department.contactnumber }}</div>
  </div>
</div>
